@page "/"
@using BlazorApp.Services
@inject NavigationManager Navigation
@inject AuthService AuthService

@code{
    protected override void OnInitialized(){
        if(!AuthService.isLoggedIn)
            Navigation.NavigateTo("/login");
    }
}

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
