@page "/"
@using BlazorApp.Services
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager Navigation
@inject AuthService AuthService

<PageTitle>Dashboard</PageTitle>

<h1>Welcome back, @AuthService.CurrentUser</h1>

<button type="button" @onclick="()=> showModal = true">Enter new record</button>
<RecordEntryModal IsVisible="showModal" OnClose="()=> showModal = false" OnSave="RefreshRecords"></RecordEntryModal>

@code {
    protected override void OnInitialized()
    {
       if(!AuthService.IsLoggedIn) 
        Navigation.NavigateTo("/login");
    }

    private bool showModal = false;

    private void RefreshRecords()
    {

    }
}
