@using Microsoft.EntityFrameworkCore
@inject AppDbContext DbContext

<div class="reset-modal">
    <div class="reset-card" @onclick:stopPropagation="true">
        <label>Enter your email</label>
        <input type="email" value=@email @oninput="e => email = e.Value.ToString()" placeholder="Email"/>

        @if(showError)
        {
            <p class="error-msg">Email not found. Please try again</p>
        }

        <div class="reset-footer">
            <button type="button" @onclick="Close">Cancel</button>
            <button type="button" class="btn-primary" @onclick="CheckEmail">Next</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    private string email;
    private List<string> emailList;
    private bool showError = false;

    protected override async Task OnInitializedAsync(){
        try
        {
            emailList = await DbContext.Users.Select(u => u.email).ToListAsync();
        }
        catch(Exception e)
        {
            Console.Error.WriteLine($"Error loading the emails, {e.Message}");
            emailList = new List<string>();
        }
    }

    private async Task CheckEmail()
    {
        var e = await DbContext.Users.FirstOrDefaultAsync(u => u.email == email);
        if(e == null){
            showError = true;
            return;
        }
    }

    private async Task Close()
    {
        showError = false;
        await OnClose.InvokeAsync();
    }

}
